

.ant-layout-sider ant-layout-sider-dark{
    width: 50px !important;
}
.ant-layout-sider-zero-width-trigger {
   top: 37px;
   padding: 2px;
   font-size: 38px;
   color: black;
    background: radial-gradient(#006400, #b6bac5) !important;
}
.ant-menu {
   width: 100%;
}

.ant-layout-sider {
    width: 50px !important;
    height: 100%;
    min-width: 0;
     background: radial-gradient(#006400, #b6bac5) !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.ant-layout-sider-children{
    height: 100vh;
}

div.ant-menu-submenu-title{
     background: radial-gradient(#006400, #b6bac5);
    border-radius:15px 15px 15px 15px;
    border: 2px white solid;
    color: black;
    span{
        color:black;
        font-weight: bold;
        font-size: 16px;
    }
}

.ant-menu-submenu{
     background: radial-gradient(#006400, #b6bac5);
    width: 100%;
    padding: 5px 0 0 0;
}

li.ant-menu-item{
     background: radial-gradient(#006400, #b6bac5);
    color: black;
    border:1px solid white;
    font-weight: bold;
    width: 100%;
    padding-left: 10px !important;
    display: flex;
    flex-direction: row;
    justify-content: first baseline;
    align-items: center;    
}


Link{
    color:red;
}